/* GENERAL */
body {
    font-family: courier new;
    margin: 0;
    height: 100vh;
}

tr {
    color: blue;
    text-decoration: none;
}

tr:hover {
     color: red;
    text-decoration: underline;
    cursor: pointer;
}

td {
    padding-right: 2rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    width:100%;
    height: 100%;
}

.content {
    margin: auto;

}

/* MOBILE */
@media only screen and (max-width:769px){

.content {
    margin: auto;
}





}

/* DESKTOP */
@media only screen and (min-width:769px){

.wrapper {
    height: 100vh;
}

.content {
    margin: auto;
}

}