/*
body {border:1rem;}

.wrapper {border: solid red ;}
.content {border: solid pink ;}

.title {border: solid blue ;}
.links {border: solid green ;}
.video {border: solid yellow ;}
*/

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: arial;
}

img {
    width: 100%;
}


/* MOBILE */
@media only screen and (max-width:769px){
    
    .hamburger{order:1;}
    #nieuwesingle{order:2;}
    #socials{order:3;}
    #concerts{order:4;}
    #heads{order:5;}
    #bioshort{order:6;}
    #nekka{order:7;}
    #knack{order:8;}
    #food{order:9;}
    #biolong{order:10;}
    #tshirt{order:11;}
    footer{order: 12;}

    /***************************************************************************************************************************/
    /* NAV overlay */
    /***************************************************************************************************************************/

        .topbar {
            position: sticky;
            top: 0;
            background-color: black;
            height: 4rem;
            width: 100%;
        }

        .topbar img {
            height: 4rem;
        }

        #burger {
            width: 1.5rem;
        }

        .hamburger {
            position: fixed;
            top: 0rem;
            right: 1rem;
            cursor: pointer;
            font-size: 3rem;
            color: white;
        }

        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0);
            overflow-x: hidden;
            transition: 0.5s;
            outline: 1px solid white;
            outline-offset: -1px;
        }
    
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay a {
            padding: 1rem;
            text-decoration: none;
            font-size: 36px;
            color: white;
            display: block;
            transition: 0.5s;
        }

        .overlay a:hover, .overlay a:focus {
            color: red;
        }

        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }

        .overlay a {font-size: 20px}
        .overlay .closebtn {
            font-size: 3.3rem;
            top: .5rem;
            right: 1rem;
        }

    /***************************************************************************************************************************/
    /* structure */
    /***************************************************************************************************************************/

        .wrapper {
            /*! display: flex; */
            /*! justify-content: center; */

        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            /*! align-items: center; */
            /*! margin:auto; */     
        }

    /***************************************************************************************************************************/
    /* General */
    /***************************************************************************************************************************/

        body {
            margin:0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: black;
            color: white;
        }

        article#bioshort, article#biolong, article#knack {
            margin: 2rem;
        }

    /***************************************************************************************************************************/
    /* articles */
    /***************************************************************************************************************************/
        #bioshort{
            text-align: right;
            width: 100%;
        }

        #bioshort p {
            line-height: 1.4rem;
        }

        #bioshort span.instrument {
            font-size: 1.1rem;
            text-transform: lowercase;
            margin-top: -0.4rem;
            display: block;
            font-weight: lighter;
            
        }
        
        #knack  {
            text-align: center
        }

    /***************************************************************************************************************************/
    /* photo m */
    /***************************************************************************************************************************/

        #heads, #nekka, #food {
            margin:0;
        }

        #heads img, #nekka img, #food img {
            width: 100%;
        }

    /***************************************************************************************************************************/
    /* video m */
    /***************************************************************************************************************************/
            
        article#nieuwesingle {
        }
        
        #nieuwesingle iframe {
            width: 100%;
            height: 15rem;
        }

    /***************************************************************************************************************************/
    /* concerts m */
    /***************************************************************************************************************************/

        #concerts h1 {
            font-size: 3rem;
            text-transform: uppercase;
            letter-spacing: 1rem;
            margin-bottom: -1rem;
        }
        
        #concerts {
            text-align: center;
        }
        
        #concerts table {
            width: 100%;
        } 
        
        #concerts td a{
            display: block;
            text-decoration: none;
            color: white;
            padding: 3rem 0rem;
        }
        
        #concerts .date {
            font-size: 1.3rem;
        
        }
        
        #concerts .location {
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        #concerts .price {
            font-style: italic;
        }
        
        #concerts tr:first-child td{
            border: none;
        }
        
        #concerts td {
            border-top: dotted white 0.5rem;
            
        }

    /***************************************************************************************************************************/
    /* socials m */
    /***************************************************************************************************************************/

        article#socials {
            margin-top: 0;
            width: 80%;
        }
        
        #email a {
            color: white;
            text-decoration: none;
            padding: 1.5rem 3rem 3rem 3rem;
            width: 100%;
            text-align: center;
            display; block;
        }

        #email a:hover {
            color: whitesmoke;
            text-decoration: underline;
            text-decoration-color: red;
            text-decoration-style: wavy;
            display: block;
        }

        #socials img {
            width: 20%;
            height: 4rem;
        
        }
        
        #socials div {
            justify-content: space-around;
            display: flex;
        }

        #facebook, #spotify, #instagram{
            cursor: pointer;
        } 

    /***************************************************************************************************************************/
    /* footer m */
    /***************************************************************************************************************************/

        footer {
            padding: 1rem;
        }
        
        footer a {
            color: whitesmoke;
            text-decoration: underline;
            text-decoration-color: red;
            text-decoration-style: wavy;
            display: block;
        }
        
        footer  a:hover {
            text-decoration: line-through;
            text-decoration-color: red;
            text-decoration-thickness: 5px;
        }

    /***************************************************************************************************************************/

}

/* DESKTOP */
@media only screen and (min-width:769px){
    .title {order:1;}
    .links {order:3;}
    .video {order:2;}
    
    .wrapper {
        display: flex;
        justify-content: center;
        /*! height: 90vh; */         
    }
    
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /*! align-items: center; */
        /*! margin:auto; */     
    }

    .title {
        margin-bottom: 1rem
    }

    .title h1 {

    }
    
    .links {
        width: 100%;
        margin-top: 2rem;
    }

    .links ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        padding: 0;
    }
    
    .video { 
        width: 100%;
    }
    
    .video iframe {
        width: 100%;
        height:50vh;
    }
}