body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

/* MOBILE 
@media only screen and (max-width:769px){
*/

    h2 {
        text-align: center;
        padding: rem;
        font-size: 2rem;
    }

    .hamburger {
        position: fixed;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        font-size: 4rem;
        background-color: black;
        color: white;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0);
        overflow-x: hidden;
        transition: 0.5s;
        outline: 1px solid white;
        outline-offset: -1px;
    }
 
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 1rem;
        text-decoration: none;
        font-size: 36px;
        color: white;
        display: block;
        transition: 0.5s;
    }

    .overlay a:hover, .overlay a:focus {
        color: red;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 3.3rem;
        top: .5rem;
        right: 1rem;
    }
/*
}
*/

/* DESKTOP 
@media only screen and (min-width:769px){

}
*/